<section class="shopping-page">
    <h1>Shopping List</h1>
    <div class="shopping-price-detail">
        <p>Amount of food items to buy: <%= @displayed_names.length %></p>
        <p>Total value of food needed: <%= @total_price %></p>
    </div>
    <table class="shopping-table">
        <tr>
            <th>Food</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        <% @displayed_names.each do |food_name| %>
            <% recipe_food = @recipe_foods.find { |rf| rf.food.name == food_name } %>
            <tr>
                <td><%= food_name %></td>
                <td><%= recipe_food.quantity %></td>
                <td><%= recipe_food.quantity * recipe_food.food.price %></td>
            </tr>
        <% end %>
    </table>
</section>