<section>
    <h1>Public Recipes</h1>
    <div>
        <% @public_recipes.each do |public_recipe| %>
            <div>
                <% if public_recipe.public == true || public_recipe.user_id == current_user.id%>
                    <p>
                        <%= link_to public_recipe.name, public_recipe %>
                    </p>
                <% else %>
                    <p>
                        <%= public_recipe.name %>
                    </p>
                <% end %>
                <p>By: <%= public_recipe.user.name %></p>
            </div>
            <div>
                <p>Total food items: <%= public_recipe.recipe_foods.count %> </p>
                <% @total_price = 0 %>
                <% public_recipe.recipe_foods.each do |recipe_food| %>
                   <% @total_price += recipe_food.food.price * recipe_food.quantity %>
                <% end %>
                <p>Total price: <%= @total_price %></p>
            </div>
        <% end %>
    </div>
</section>