<p style="color: green"><%= notice %></p>

<%= render @food %>

<div class="d-flex flex-row justify-content-around">
  <%= link_to "Edit this food", edit_food_path(@food) , class: "btn btn-warning m-3"%> 
  <%= link_to "Back to foods", foods_path, class: "btn btn-primary m-3" %>

  <%= button_to "Destroy this food", @food, method: :delete, class: "btn btn-danger m-3" %>
</div>
